


.header{
  background-color: rgb(125, 120, 120);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    border-bottom: rgb(79, 14, 14);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
  }
  img{
    width: 60%;
  }
}
.A{
  font-size: medium;
  color: black;
  background-color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  a{
    text-decoration: none;
    color: black;
  }
}
.content p {
font-size: small;
font-family: cursive;
text-align: center;
box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;;
}

.footer {
text-align: center;
  background-color: red;
    bottom: 0;
}


.scroll-text {
font-size: large;
margin-left: 200px;
margin-right: 297PX;
margin-top: 0%;

color: aquamarine;
background-color: blue;
margin-top: 100px;
}
.grid{
  width: 100svw;
  height: 100svh;
  display: grid;
  gap:1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  div{
    background-color: blue;
  }
}