.alireza{
    background-color: yellow;
    width: fit-content;
    margin: 50px;
    cursor: pointer; 
}
.mojtaba{
    background-color: blue;
    width: fit-content;
    font-size: large;
    cursor: move;
}